
.topo {
    /* margin-top: 0px; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 84px;
    background: var(--colors-bases-lightest) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  }
  
  h1 {
    margin-top: 30px;
    margin-left: 56px;
    width: 100%;
    height: 24px;
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-20) /
      var(--unnamed-line-spacing-30) Verdana;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-474747);
    text-align: left;
    font: normal normal bold 20px/30px Verdana;
    letter-spacing: 0px;
    color: #474747;
    text-transform: uppercase;
    opacity: 1;
  }
  