.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }

.quad {
    width: 524px;
    height: 430px;
    background: var(--colors-bases-lightest) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    gap: 1rem;
    border-radius: 16px;
    opacity: 1;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  h2 {
    width: 174px;
    height: 26px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-medium) var(--unnamed-font-size-20) /
      var(--unnamed-line-spacing-30) var(--unnamed-font-family-roboto);
    /* letter-spacing: var(--unnamed-character-spacing-0); */
    color: var(--unnamed-color-474747);
    text-align: left;
    font: normal normal medium 20px/30px Roboto;
    letter-spacing: 0px;
    color: #474747;
    opacity: 1;
  }
  
  .login-message {
    width: 364px;
    display: flex;
    justify-content: left;
  }
  
  .form-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 364px;
    justify-content: center;
  }
  
  .input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--colors-bases-light);
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent;
  }
  
  .input::-webkit-input-placeholder{
    color:#ddd;
    margin-left: 2rem;
  
  }
  .input::-moz-placeholder {
    color:#ddd;
    margin-left: 2rem;
  
  }
  
  .box-email {
    /* margin-top: 30px;
    margin-left: 50px; */
    width: 364px;
    height: 40px;
    border: 1px solid var(--colors-bases-light);
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent;
  }
  
  .box-password {
    /* margin-top: 40px;
    margin-left: 50px; */
    width: 364px;
    height: 40px;
    border: 1px solid var(--colors-bases-light);
    background: #00000000 0% 0% no-repeat padding-box;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent;
  }
  
  p {
    top: 432px;
    /* margin-left: 22em; */
    width: 120px;
    height: 19px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
      var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-474747);
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #474747;
    opacity: 1;
  }
  
  .forgot-password{
    width: 364px;
    display: flex;
    justify-content: right;
    color: #474747;
    font-size: 0.8rem;
  }
  
  .acess {
    /* margin-top: 30px;
    margin-left: 200px; */
    width: 109px;
    height: 41px;
    background: var(--colors-primary-neutral) 0% 0% no-repeat padding-box;
    background: #1877f2 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000029;
    border-radius: 20px;
    opacity: 1;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }